.top-slider {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  height: calc(100vw / 2.6);
  position: relative;
}

.slide {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.slide__background {
  position: absolute;
  width: 110%;
  height: 110%;
  bottom: -10%;
  right: -10%;
  overflow: hidden;
  z-index: -1;
}

.slide__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 550px;
  margin-right: 300px;
  height: 300px;
}

@keyframes showElement {
  from {
    opacity: 0;
    padding-top: 25px;
  }

  to {
    padding-top: 0;
    opacity: 1;
  }
}

.slide__product-title {
  opacity: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  animation: showElement 0.3s 1 ease-in-out;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.slide__product-name {
  opacity: 0;
  font-size: 55px;
  font-weight: bold;
  margin-top: 10px;
  animation: showElement 0.3s 1 ease-in-out;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes showSlideDescription {
  from {
    padding-top: 25px;
    opacity: 0;
  }

  to {
    padding-top: 0;
    opacity: 0.8;
  }
}

.slide__product-description {
  opacity: 0;
  line-height: 25px;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 30px;
  animation: showSlideDescription 0.3s 1 ease-in-out;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.slide__buttons {
  opacity: 0;
  width: 345px;
  display: flex;
  justify-content: space-between;
  animation: showElement 0.3s 1 ease-in-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.slide__btn {
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 20px;
  height: 45px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.slide__btn-buy {
  background-color: #fff;
  color: #000000e6;
}

@keyframes showPriceBlock {
  from {
    transform: rotate(90deg);
    opacity: 0;
  }

  to {
    transform: rotate(0);
    opacity: 1;
  }
}

.slide__price-block {
  height: 162px;
  width: 162px;
  border: 6px solid #f51167;
  border-radius: 50%;
  animation: showPriceBlock 0.7s 1 ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.price-block__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ffffff9e;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #f51167;
}

.price-block__wrapper > span:first-of-type {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.price-block__wrapper > span:last-of-type {
  font-size: 14px;
  color: #ffffffdb;
  margin-bottom: 4px;
}

.slide__price {
  font-size: 70px;
}

.slider__footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 2%;
  left: 9%;
  width: 1000px;
}

.top-slider__togglers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.top-slider__togglers-btn {
  border: 1px solid #ffffffa3;
  border-radius: 50%;
  background-color: transparent;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-slider__togglers-dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffffff78;
}

.toggler-dot--active {
  background-color: #fff;
}

.slider__counter {
  color: #fff;
  font-size: 25px;
}

.slide--active {
  display: flex;
}
