.footer__links-wrapper {
  width: 80%;
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.footer__social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #8f8f8f;
  transition: color 0.2s;
  text-align: center;
  width: 100px;
}

.footer__social-link:hover {
  color: #fff;
}

.footer__social-link-title {
  margin-left: 20px;
}
