.products-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 100%;
}

.product-slides {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  perspective: 10000px;
  transform-style: preserve-3d;
}

.product-slides .product-card:nth-child(4) {
  margin-right: 0;
}

@media screen and (min-width: 1320px) {
  .products-slider {
    width: 1320px;
  }
}
