.footer {
  margin-top: 70px;
  width: 100vw;
  max-width: 100%;
  background-color: #282828;
}

.dividing-line {
  height: 1px;
  width: 100vw;
  max-width: 100%;
  background-color: green;
}
